* {
  margin: 0 auto;
  padding: 0;
}

body {background-color: black;
  text-align: center;
}

.content {
  background-color: white;
  width: 1200px;
  height: 1160px;
  padding: 40px 8px 10px 8px;
}

.imagehead {
  background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png");
  background-position: center;
  background-size: cover;
  width: 1200px;
  height: 300px;
}
.imagehead h1 {
  color: white;
  font-family: Helvetica;
  font-size: 70px;
  font-weight: bold;
  padding-bottom: 30px;
}
.imagehead li,a {
  color: white;
  font-family: Helvetica;
  font-size: 18px;
  padding-top: 15px;
  line-height: 1,2;
  list-style: none;
}

h3 {font-family: Helvetica;font-size: 23px;}
h2 {font-family: Helvetica; font-size: 32px;}
p {font-family: Helvetica; font-size: 14px; padding-bottom: 5px;}
.process, .furtherinfos {line-height: 2;}

.imageline {
  background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png");
  background-size: cover;
  background-position: center;
  height: 27px;
}
.imageline h3 {
  color: white;
  font-family: Helvetica;
  font-size: 23px;
  font-weight: bold;
}

.furtherinfos {padding-top: 20px;}
#impressum {
  background-color: dimgray;
  color: white;
  font-family: Helvetica;
  font-size: 11px;
  text-align: left;
}
#impressum a {
 color: white;
 font-family: Helvetica;
 font-size: 11px;
 text-align: left;
}
